
/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

h1 {
  margin: auto;
}

a { 
	color: #3a3a3a;
	text-decoration: none;
}

a:hover {
  opacity: .75;  
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px;
  font-size: 1.2em;
}

ul:last-child {
  padding-bottom: 5px;
}

.console-logo {    
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 5px;
  margin-top: 30px;
  width: 100%;
}

footer {
  padding: 2em 0;
}

/* ---- fonts ---- */

body {
  font-family: "Valera Round", sans-serif;
}

header,
nav,
footer {
  font-family: 'Press Start 2P', cursive;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  padding-top: 20px;
  color: #000;
}

.main-header {
  text-align: center;
  background: #48B3DC;
}

.main-nav li {
  display: flex;
  flex-direction: column;
}

.main-nav a {
   background: #d9e4ea;
   padding: 10px 0;
   border-radius: 5px;
}


/* ---- Layout Containers ---- */


.container {
  width: 80%;
  margin: auto;
}

.main-footer {
  text-align: center;
	background: #d9e4ea;
  width: 100%;
  margin-top: 10px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  
  body {
    display: flex;
    flex-direction: column;
  }

  html,
  body {
    height: 100%;
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-nav a {
     background: #d9e4ea;
     padding: 5px 20px;
     border-radius: 5px;
  }

  .ps-logo {
    margin-top: 30px;
    max-width: 602px;
    max-height: 460px;
  }

  .n64-logo {
    margin-top: 30px;
    max-width: 602px;
    max-height: 568px;
  }

  .saturn-logo{
    margin-top: 30px;
    max-width: 602px;
    max-height: 550px;
  }

  .main-footer {
    position: relative;
    bottom: 0;
  }
}